.App {
  text-align: center;
  box-sizing: border-box;
}

.input-box {
  border: 2px solid red;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.result-box {
  border: 2px solid red;
  padding: 5px;
  margin: 0 auto;
  width: 200px;
}
.btn {
  margin: 10px;
  padding: 5px 20px;
}
